# Python Programming Tasks

## Modules

In [1]:
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt

## Introduction

The following tasks are from the slides `02_python.html`. 

Recall some of the notebook shortcuts:

In edit mode:

- Run cell and add new cell: `shift + enter`
- Add a line within a cell: `enter`

In command mode:

- Save the notebook: `s`
- Change cell to markdown: `m`
- Change cell to code: `y`
- Cut, copy, paste, delete a cell: `x`, `c`, `v`, `d`
- Add a cell above, below: `a`, `b`

## Tasks

### Task 1

Create a float variable and each of the four built-in data structures 
discussed (list, tuple, dictionary, set). For each object, use a combination
of two methods or attributes and document in markdown their functionality.

We'll start with a float. float.numerator and float.denominator return the numerator and denominator of a fraction. Given that our float, z, is an integer, the denominator is 1. float.real returns the real component of the float

In [4]:
z = 4
z.numerator

1

In [5]:
z.denominator

1

In [8]:
z.real

4

Next, we'll look at lists. list.count("...") counts the number of occurences of a specified entry in parentheses. list.insert allows us to add to our list in any location (vs. list.append()) which adds to the end of the list.

In [14]:
list1 = ["happy", "sad", "angry"]

In [15]:
list1.count("happy")

1

In [16]:
list1.insert(0, "frustrated")
list1

['frustrated', 'happy', 'sad', 'angry']

Next, we'll look at tuples, which appear to only have 2 options available. tuple.count(...) has the same functionality as list.count(...), which returns the number of occurences of a specified entry in parentheses. tuple.index(...), return the index of the value specified in parentheses

In [18]:
tuple1 = (1, 2, 3, 4, 5)
type(tuple1)

tuple

In [22]:
tuple1.count(1)

1

In [24]:
tuple1.index(2)

1

Next, we'll look at dictionaries. dictionary.keys() returns all of the keys in the dictionary. dictionary.get(key) returns the value of the specified key. The same can be accomplished by typing dictionary[key].

In [26]:
dictionary1 = {"Raleigh" : "North Carolina", "Atlanta" : "Georgia", "Sacramento" : "California"}
type(dictionary1)

dict

In [28]:
dictionary1.keys()

dict_keys(['Raleigh', 'Atlanta', 'Sacramento'])

In [29]:
dictionary1.get("Raleigh")

'North Carolina'

In [30]:
dictionary1["Raleigh"]

'North Carolina'

Lastly, let's look at sets. set.add(...) adds the specified entry to the set. set.intersection checks for common elements between two sets.

In [32]:
set1 = {"a", "b", "c", "d", "d", "e", "f"}
set1
# Nice, confirmed that the duplicate "d" was removed

{'a', 'b', 'c', 'd', 'e', 'f'}

In [33]:
set1.add("q")
set1

{'a', 'b', 'c', 'd', 'e', 'f', 'q'}

In [35]:
set1.intersection({"a", "b", "l", "n", "o", "q"})

{'a', 'b', 'q'}

### Task 2

Set object `dilemma`, given below, to all lowercase. Then, reverse the 
order of the letters. Lastly, capitalize the first "b".
    
*Hint:* `dilemma[start:end:step]`. What does a negative index do?

In [37]:
# Assign value to variable called dilemma
dilemma = "Borrow OR Rob"

In [42]:
# Set string to all lowercase and confirmÂ output
dilemma = dilemma.lower()
dilemma

'borrow or rob'

In [41]:
dilemma

'Borrow OR Rob'

In [48]:
# Reverse string
dilemma = dilemma[::-1]
dilemma

'bor ro worrob'

In [53]:
# Capitalize the first b, which also happens to be the first letter
dilemma.capitalize()

'Bor ro worrob'

### Task 3

Write a function that takes a list and returns a list of the
unique elements of the inputted list in descending order. Do this without 
using `set()`.

In [62]:
# Define function
def unique_sorted_list(input_list):
    # Initialize returned value
    return_list = []
    
    # Cycle through provided list. Only add element to return_list if not already contained
    for entry in input_list:
        if return_list.count(entry) == 0:
            return_list.append(entry)
            
    # Sort output in descending order
    return_list.sort(reverse = True)
    
    # Return output
    return(return_list)

In [63]:
# Test function with list of numbers
list1 = [5, 8, 9, 10, 1, 2, 2, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]
print(unique_sorted_list(list1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
# Test function with list of strings
list2 = ["Billy", "Joe", "Bob", "Joe", "Billy Joe", "Andrew", "Billy", "John"]
print(unique_sorted_list(list2))

['John', 'Joe', 'Bob', 'Billy Joe', 'Billy', 'Andrew']

In [69]:
# What about a mix of string and numbers?
list3 = [1, 5, 1, 1, 5, "Billy", 6, 5, "Billy", "John", "Andrew", "Steven", 7, 5, "John"]
print(unique_sorted_list(list3))
# Now that throws an error... I guess it would be hard to sort a list composed on numbers and strings

TypeError: '<' not supported between instances of 'str' and 'int'

### Task 4

Write a function that counts the number of prime numbers less than or equal to a specified number. You may find
`is_prime()` to be helpful.

In [1]:
def is_prime(n):
  """
  This function checks if a number is prime.
  
  n = positive integer
  
  Example:
  
  is_prime(2)
  is_prime(16)
  
  """
  
  if n < 3:
    result = n - 1
  else:
    for i in range(2, n):
      if (n % i) == 0:
        result = False
        break
    else:
      result = True
      
  return bool(result)

### Task 5

Create a histogram based off of random variables generated from a probability
distribution of your choice.

### Task 6

Plot 100 time steps of a simple symmetric random walk that starts at the value 0.